.calendar-header {
  grid-area: "header";
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 38px;
  align-content: center;
  text-align: center;
}

.calendar-header .month-nav {
  font-size: 20px;
  align-self: center;
  height: 100%;
  padding: 0px 10px;
}

.calendar-header .month-nav:hover {
  cursor: pointer;
}

.month-nav {
  display: flex;
  flex-direction: column;
}

.calendar-header .prev {
  float: left;
}

.calendar-header .next {
  float: right;
}

.next .next {
  float: right;
  align-self: flex-end;
}
